<h1>
  <% if current_user == @user %>
    <%= "#{t('views.relationship.your')}" %>
  <% else %>
    <%= "#{t('views.relationship.other', name: @user.email)}" %>
  <% end %>
  <%= "#{t('views.relationship.followers')}#{t('views.relationship.list')}" %>
</h1>

<%= render 'users/user_list', users: @followers %>
