<p>
  <strong><%= Comment.model_name.human %>:</strong>
</p>
<ul>
  <% commentable.comments.each do |comment| %>
    <% next unless comment.persisted? %>
    <li>
      <%= comment.user.user_or_email %> |
      <%= comment.body %> |
      <% date = comment.created_at.in_time_zone('Japan') %>
      <%= "#{date.year}年#{date.month}月#{date.day}日#{date.hour}時#{date.min}分" %>
    </li>
  <% end %>
</ul>
