<h1><%= t :edit, scope: 'heading.books' %></h1>

<%= render 'form', book: @book %>

<%= link_to "#{t :show, scope: 'user_actions'}", @book %> |
<%= link_to "#{t :back, scope: 'user_actions'}", books_path %>
